<footer>
  <div class="upper-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <p class="footer-header">books review</p>
          <p class="footer-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.
            Ut enim ad minim veniam</p>
        </div>
        <div class="col-md-4">
          <p class="footer-header">Useful Links</p>
          <p class="footer-text">Help</p>
          <p class="footer-text">FAQ</p>
          <p class="footer-text">Terms of use</p>
          <p class="footer-text">Privacy policy</p>
          <p class="footer-text">Contact us</p>
        </div>
        <div class="col-md-4">
          <p class="footer-header">Get connected</p>
          <img src="/assets/facebook-icon.png" class="social-photo"/>
          <img src="/assets/Twitter_light.png" class="social-photo"/>
          <img src="/assets/google-plus-icon.png" class="social-photo"/>
        </div>
      </div>
    </div>
  </div>
  <div class="lower-footer">
    <div class="container">
      <div class="col-md-4">
        <span class="glyphicon glyphicon-copyright-mark"></span> 2015-1016 BooksReviews. All rights reseved.
      </div>
      <div class="col-md-8" align="right">
        <span class="site-map"><a href="/"> Home</a></span>
        <span class="site-map"><a href="/write-a-review"> write a review</a></span>
        <span class="site-map"><a href="contact"> contact us</a></span>
        <span class="site-map"><a href="#"> all books</a></span>
        <span class="site-map"><a href="#"> best reviews</a></span>
      </div>
    </div>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<%= javascript_include_tag 'home', 'data-turbolinks-track' => true %>
