<%= render(:partial => "home/navbar") %>
<div>
  <div class="color bar1"></div>
  <div class="color bar2"></div>
  <div class="color bar3"></div>
  <div class="color bar4"></div>
  <div class="color bar5"></div>
  <div style="clear:both"></div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <img src="/assets/logo.jpg" style="width:100%;"/>
    </div>
    <div class="col-md-8">
      <p style="margin:100px 50px 50px 0px;">
        Storyteller Bangladesh, founded in October 2014, is a social media based fortnightly book review
        competition with an aim to bringing back people’s lost love for books. This voluntary and non-profit
        initiative is envisioned to illuminate Bangladesh with the light of knowledge yielded from storytelling. In
        today’s busy world, it often gets hard to pick the right book but thing can get a bit easier if someone is
        exposed to a fraternity or an archive containing reviews of the new, popular or even ancient books.
        Since the platform of social media is so robust, efficient and compatible to our daily life, this initiative is
        totally based on facebook page where one can read book reviews, submit book review and win
        attractive prizes in form of books, social media exposure and most importantly a platform to share his
        thoughts.
      </p>
    </div>
  </div>
</div>
<hr class="divider"/>

<div class="container">
</div>

<hr class="divider"/>
<%= render(:partial => "home/footer") %>