<%= render(:partial => "home/navbar") %>
<div>
  <div class="color bar1"></div>
  <div class="color bar2"></div>
  <div class="color bar3"></div>
  <div class="color bar4"></div>
  <div class="color bar5"></div>
  <div style="clear:both"></div>
</div>

<div class="container">
  <div style="text-align:center;margin:20px 10px 10px 10px;">
    <p style="font-size:30px;margin:0px;">
      Books Review Archive of
    </p>
    <img src="/assets/logo-top.jpg" style="height:80px;width:auto;"/>
  </div>

  <div class="page-nation">
    <ul class="pagination pagination-large">
      <li class="disabled"><span>«</span></li>
      <li class="active"><span>1</span></li>
      <li><a href="#">2</a></li>
      <li><a href="#">3</a></li>
      <li><a href="#">4</a></li>
      <li><a href="#">6</a></li>
      <li><a href="#">7</a></li>
      <li><a href="#">8</a></li>
      <li><a href="#">9</a></li>
      <li class="disabled"><span>...</span></li>
      <li>
      <li><a rel="next" href="#">Next</a></li>
    </ul>
  </div>

  <div class="masonry">
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan </h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan </h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan </h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan </h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan</h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan</h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan</h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan</h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
    <div class="archive-item">
      <div style="background:#EEEFE1; padding:10px; ">
        <h4>Tanvir Ahmed Khan</h4>
        <p style="color:#8C8C8C; font-size:12px;line-height:10px;">16,December,2015</p>
        <p style="color:#828080; font-size:14px;line-height:12px; font-weight:bold;">
          <span class="glyphicon glyphicon-book" aria-hidden="true"></span> Amar Bondhu Rashed</p>
        <p style="color:#8C8C8C; font-size:13px;">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit,
        </p>
      </div>
    </div>
  </div>
</div>
<%= render(:partial => "home/footer") %>