<%= render(:partial => "home/navbar") %>
<div>
  <div class="color bar1"></div>
  <div class="color bar2"></div>
  <div class="color bar3"></div>
  <div class="color bar4"></div>
  <div class="color bar5"></div>
  <div style="clear:both"></div>
</div>
<div class="container">
  <div>
    <p id="contact-us-header">Contact Us</p>
    <div class="row" id="contact-page">
      <div class="col-md-5">
        <img src="/assets/logo-top.jpg" style="height:80px; margin-bottom:5px;margin-left:-10px;"/>
        <h4> physical Address</h4>
        <h4> +88017xxxxxxxx</h4>
        <h4> storytellerbangladesh@gmail.com</h4>
      </div>

      <div class="col-md-7">
        <div id="googleMap" style="width:100%;height:380px;"></div>
      </div>
    </div>
  </div>
</div>
<%= render(:partial => "home/footer") %>