<%= render(:partial => "home/navbar") %>
<div>
  <div class="color bar1"></div>
  <div class="color bar2"></div>
  <div class="color bar3"></div>
  <div class="color bar4"></div>
  <div class="color bar5"></div>
  <div style="clear:both"></div>
</div>



<div class="container">
  <div class="row">
    <div class="col-md-10 col-md-offset-1">
      <br/>
      <h2>FAQ ( Frequently Asked Questions) about Storyteller Bangladesh, A Fortnightly Book Review Competition :</h2>
      <br/>

      ১। Storyteller Bangladesh _A fortnightly Book Review Competition বিষয়টা কি?
      <br/>
      উত্তর :
      <br/>
      বই পড়া আর লেখালেখির অভ্যাসকে উদ্বুদ্ধ করতেই এই উদ্যোগ। আপনি যদি গতকাল, অথবা গত সপ্তাহে, অথবা গত মাসে, অথবা গত বছরে অথবা এই জীবনে, অথবা গত জীবনে কোন বই পড়ে থাকেন, তাহলে সেই বই সম্পর্কে কিছু কথা আমাদের সাথে শেয়ার করুন। লিখে পাঠান ৩০০-১০০০ শব্দের মধ্যে এই ঠিকানায় storytellerbangladesh@gmail.com . আর আপনি হয়ে যেতে পারেন Storyteller Bangladesh.
      প্রতি মাসে আমরা সেরা ১০ বুক রিভিউ বা বই পর্যালোচনাকে নির্বাচিত ও পুরস্কৃত করব।
      <br/><br/>

      ২। কি বই হতে পারে? কোন ধরনের বই হতে পারে? বই কি বাংলাই হতে হবে? বই কি ইংরেজি হতে হবে? গল্প, নাটক, উপন্যাস নাকি কবিতার বই?
      <br/>
      উত্তর :
      <br/>
      যেকোনো ভাষার, যেকোনো ধরনের বই। বাংলা হতে পারে, ইংরেজি বই ও হতে পারে। পুরোপুরি আপনার ইচ্ছা। যেটাতে আপনি স্বাচ্ছন্দ্যবোধ করেন।
      <br/><br/>
      ৩। আপনাদেরকে যে বুক রিভিউ বা বই পর্যালোচনা লিখব , ঐটা কোন ভাষায় লিখতে হবে?
      <br/>
      উত্তর :
      <br/>
      বাংলা এবং ইংরেজি দুই ভাষার যেকোনোটাতেই লিখতে পারেন। পুরোপুরি আপনার ইচ্ছা। যেটাতে আপনি স্বাচ্ছন্দ্যবোধ করেন।
      <br/><br/>
      ৪। বুক রিভিউ বা বই পর্যালোচনা জমা দেওয়ার শেষ তারিখ কবে?
      <br/>
      উত্তর :
      <br/>
      জমা দেওয়ার শেষ তারিখ প্রতি মাসের ১৪ তারিখ এবং ২৯ তারিখ। এবং ফলাফল ঘোষণা যথাক্রমে ১৫ তারিখ এবং ৩০ তারিখ।
      অর্থাৎ আপনার লেখা যদি আমাদের কাছে যেকোনো মাসের ১-১৪ তারিখের মধ্যে আসে, তাহলে তা ঐ মাসের প্রথম পক্ষ ( fortnight) এর জন্য বিবেচিত হবে। তাহলে অপেক্ষা করবেন ১৫ তারিখের জন্য। দেখুন ৫ জন বিজয়ীর মধ্যে আপনার নাম আছে কিনা।
      আর আপনার লেখা যদি আমাদের কাছে যেকোনো মাসের ১৫-২৯ তারিখের মধ্যে আসে, তাহলে তা ঐ মাসের দ্বিতীয় পক্ষ ( fortnight) এর জন্য বিবেচিত হবে। তাহলে অপেক্ষা করবেন ৩০ তারিখের জন্য। দেখুন ৫ জন বিজয়ীর মধ্যে আপনার নাম আছে কিনা।
      <br/><br/>

      ৫। প্রতি মাসে বিজয়ী কতজন ?
      <br/>
      = প্রতি পক্ষে (১৫ দিনে), fortnight এ, ৫ জন তাহলে ১ মাস (=২ পক্ষ, ৩০ দিনে) এ ১০ জন।
      <br/><br/>
      ৬। পুরস্কার কি?
      <br/>
      = বই ছাড়া আবার কি ! wink emoticon সাথে দৈনিক পত্রিকায় প্রকাশিত হবার সমূহ সম্ভাবনা !
      <br/><br/>
      ৭। আমি কি একাধিক বুক রিভিউ বা বই পর্যালোচনা করে জমা দিতে পারি?
      <br/>
      = অবশ্যই পারেন।
      <br/><br/>
    </div>
  </div>
</div>
<%= render(:partial => "home/footer") %>