<%= render(:partial => "home/navbar") %>
<div>
  <div class="color bar1"></div>
  <div class="color bar2"></div>
  <div class="color bar3"></div>
  <div class="color bar4"></div>
  <div class="color bar5"></div>
  <div style="clear:both"></div>
</div>
<div class="container winner-page">
  <div class="row last-week-winner-section">
    <div class="col-md-2" style="padding-top:10px;">
      <h4>Last week's 20 Winners of Storyteller Bangladesh</h4>
    </div>
    <div class="col-md-10">
      <div class="row">
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
        <div class="col-md-3">
          <div class="winner-card">
            <p><img src="/assets/avatar.png"/> Tanvir Ahmed Khan </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <h2>Previous Winners</h2>
  <h4>Winners of the Month : September</h4>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>july@example.com</td>
      <td>Moe</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>

    </tbody>
  </table>
  <h4>Winners of the Month : October</h4>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>july@example.com</td>
      <td>Moe</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>

    </tbody>
  </table>
  <h4>Winners of the Month : November</h4>
  <table class="table table-bordered">
    <tbody>
    <tr>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>John</td>
      <td>Doe</td>
      <td>john@example.com</td>
    </tr>
    <tr>
      <td>Mary</td>
      <td>july@example.com</td>
      <td>Moe</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>
    <tr>
      <td>july@example.com</td>
      <td>July</td>
      <td>july@example.com</td>
      <td>july@example.com</td>
      <td>Dooley</td>
    </tr>

    </tbody>
  </table>
</div>
<%= render(:partial => "home/footer") %>